exportPattern("^[[:alpha:]]+")
import(dplyr)
importFrom(stringr, "str_detect")
importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")
importFrom(scales, "label_percent")
import(DescTools)
import(bizdays)
import(haven)
import(withr)
import(usethis)
importFrom("utils", "View", "data")
